<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
	<meta charset="utf-8">
	<title>WarmUp - pro</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<!-- Menu de navegacion -->
	<nav class="navbar navbar-expand-xl navbar-white bg-white align-items-end">
		<img alt="logo" src="images/logo.png" style="max-width:30%;" class="img-fluid">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
			aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="fa fa-bars" style="font-size:2rem"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarsExample03">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link text-dark" th:href="@{/}" style="font-size:1.3rem;">Inicio<span
							class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" th:href="@{/rutinas}" style="font-size:1.3rem;">Rutinas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" th:href="@{/entrenadores}" style="font-size:1.3rem;">Entrenadores</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" th:href="@{/altaPro}" style="font-size:1.3rem;">Pro</a>
				</li>
				<li class="nav-item dropdown mb-2">
					<a class="nav-link dropdown-toggle text-dark" href="http://example.com" id="dropdown03"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:1.3rem;">Mi
						perfil</a>
					<div class="dropdown-menu" aria-labelledby="dropdown03">
						<a class="dropdown-item text-dark" th:href="@{/misRutinas}" style="font-size: 1.3rem;">Mis
							Rutinas</a>
						<a class="dropdown-item text-dark" th:href="@{/config}"
							style="font-size:1.3rem;">Configuración</a>
						<form th:action="@{/logout}" method=post><button class="dropdown-item text-dark"
								style="font-size:1.3rem;">Cerrar sesión</button></form>
					</div>
				</li>
			</ul>
		</div>
		<!-- Menu de navegacion -->
	</nav>
	<div class="w-100 justify-content-left bg-white">
		<p class="m-0 p-0 pl-4" style="font-weight:bold; font-size:1.4rem; color:black">WARM-UP</p>
	</div>

	<!-- Cuerpo -->
	<div class="d-flex flex-wrap justify-content-center p-2 bg-white">
			<h3>CONVIERTETE EN TODO UN PROFESIONAL DEL DEPORTE</h3>
	</div>
	
	<div class="w-100 pt-2 bg-white">

		<div class="card-body">
			<div class="card-deck text-center ml-2 mr-2">
				<div class="card shadow p-3 m-3 bg-white rounded">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">Basico</h4>
					</div>
					<div class="card-body">
						<h1 class="card-title pricing-card-title">10€<small class="text-muted"> /Mes</small>
						</h1>
						<ul class="list-unstyled mt-3 mb-4">
							<li>Lorem ipsum</li>
							<li>Lorem ipsum</li>
							<li>Lorem ipsum</li>
							<li>Lorem ipsum</li>
						</ul>
						<form th:action="@{/pago}" method="get">
							<input type="hidden" name="tarif" value="10" />
							<button class="btn btn-outline-secondary">
								Suscribirme
							</button>
						</form>
					</div>
				</div>
				<div class="card shadow p-3 m-3 bg-white rounded">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">Profesional</h4>
					</div>
					<div class="card-body">
						<h1 class="card-title pricing-card-title">50€<small class="text-muted"> /Mes</small>
						</h1>
						<ul class="list-unstyled mt-3 mb-4">
							<li>Lorem ipsum</li>
							<li>Lorem ipsum</li>
							<li>Lorem ipsum</li>
							<li>Lorem ipsum</li>
						</ul>
						<form th:action="@{/pago}" method="get">
							<input type="hidden" name="tarif" value="50" />
							<button class="btn btn-outline-secondary">
								Suscribirme
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="w-100 d-flex justify-content-center bg-white">
			<form th:action="@{/rutinas}" method="get"><button class="btn btn-light btn-lg m-2">Volver</button></form>
		</div>

	</div>
	<!-- Cuerpo -->

	<!-- Footer -->
	<div class="footer-basic" style="color:black;">
		<footer>
			<div class="social">
				<a href="#"><i class="icon ion-social-instagram"></i></a>
				<a href="#"><i class="icon ion-social-twitter"></i></a>
				<a href="#"><i class="icon ion-social-facebook"></i></a>
			</div>
			<p class="copyright">Warm Up © 2022</p>
		</footer>
	</div>

	<script src="js/jquery.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
</body>

</html>